name: build
on:
  workflow_call:
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
              os: "ubuntu-latest",
              arch: "x86_64",
            }
          - {
              os: "ubuntu_latest",
              arch: "aarch64"
            }
    env:
      ARCH: ${{ matrix.config.arch }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./target/
            ./deployments/k3d/.tmp/
            ./bin
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: "Install Rust Wasm targets"
        run: |
          rustup target add wasm32-wasi
          rustup target add wasm32-unknown-unknown
      - name: build
        run: |
          make build
          rm -rf ./bin && mkdir ./bin
          cp containerd-shim-slight-v1/target/release/containerd-shim-*-v1 bin/
          cp containerd-shim-spin-v1/target/release/containerd-shim-*-v1 bin/
      - name: build k3d demo
        run: make build-image
        working-directory: ./deployments/k3d
