name: build
on:
  workflow_call:
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    permissions:
      # cosign uses the GitHub OIDC token
      id-token: write
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
              os: "ubuntu-latest",
              arch: "x86_64",
            }
          - {
              os: "ubuntu-latest",
              arch: "aarch64"
            }
        shims: 
          - {
              name: "slight",
              version: "v1", 
            }
          - {
              name: "spin",
              version: "v2", 
            }
          - {
              name: "wws",
              version: "v1", 
            }
          - {
              name: "lunatic",
              version: "v1", 
            }
    env:
      ARCH: ${{ matrix.config.arch }}
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            "containerd-shim-* -> target"
      - name: "Install dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler libseccomp-dev
      - name: Setup cosign for signing
        uses: sigstore/cosign-installer@v3.3.0
        with:
          cosign-release: 'v2.2.2'
      - name: build ${{ matrix.shims.name }}
        run: |
          VERBOSE=1 make build SHIMS=${{ matrix.shims.name }}
      - name: unit tests ${{ matrix.shims.name }}
        run: |
          VERBOSE=1 make unit-tests  SHIMS=${{ matrix.shims.name }}
      - name: Sign the binary
        run: |
          mkdir _dist
          cp containerd-shim-*/target/${{ matrix.config.arch }}-unknown-linux-musl/release/containerd-shim-*-${{ matrix.shims.version }} _dist/

          cd _dist
          cosign sign-blob --yes \
            --output-certificate containerd-shim-${{ needs.parse.outputs.runtime }}-${{ matrix.shims.version }}-crt.pem \
            --output-signature containerd-shim-${{ needs.parse.outputs.runtime }}-${{ matrix.shims.version }}.sig \
            containerd-shim-${{ needs.parse.outputs.runtime }}-${{ matrix.shims.version }}
      - name: lowercase the runner OS name
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          echo "RUNNER_OS=$OS" >> $GITHUB_ENV
      - name: package release assets
        run: |
          cd _dist
          tar czf containerd-wasm-shims-${{ matrix.shims.version }}-${{ matrix.shims.name }}-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}.tar.gz containerd-shim-*-${{ matrix.shims.version }}
      - name: upload shim artifacts
        uses: actions/upload-artifact@v3
        with:
          name: containerd-wasm-shims-${{ matrix.shims.version }}-${{ matrix.shims.name }}-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}
          path: _dist/containerd-wasm-shims-${{ matrix.shims.version }}-${{ matrix.shims.name }}-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}.tar.gz
          retention-days: 5
